@import "tailwindcss";

@utility border-inset {
  border-style: inset;
}
@utility border-outset {
  border-style: outset;
}
@utility border-ridge {
  border-style: ridge;
}

@theme {
  --color-neutral-350: oklch(78.9% 0 0);
}
